
/* display:flexを用いたグリッドレイアウト */
  
.Boxes1{
    display: flex;
    flex-wrap: wrap;
 
  
  }
  .Box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 5px 5px;
    width: 20%;
    height: 50px;
    color: aliceblue;
    background-color: blueviolet;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    
    
    
    
  }

  .Boxes2{
    display: flex;
    flex-wrap: wrap;}

   .Box-ver2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 5px 5px;
    width: 40%;
    height: 50px;
    color: aliceblue;
    background-color: blueviolet;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
   }


   .Boxes3{
    display: flex;
    flex-wrap: wrap;}

   .Box-ver3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 5px 5px;
    width: 15%;
    height: 50px;
    color: aliceblue;
    background-color: blueviolet;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
   }


   /* ログインフォーム*/

   .login-form{
   background-color:black;
   color: aliceblue;
   
   
   }
   .section-headline{
    margin-left: 20px;
   }

   .input{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-left: 20px ;
    margin-bottom: 15px;
    min-width: 500px;
    
   }

   .email-tittle{
    margin-left: 20PX;
    
   }

   .Password-tittle{
    margin-left: 20PX;
    
   }
   
   label{
    margin-bottom: 1px;
  
  }

.form-button{
  display: inline-block;
}